$p:  #FF60F4;

@function txtS($param) {
  @return 0 0 20px $param;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.directive-test {
  margin: 50px;
  font-size: 175%;
  cursor: default;
}

.hover {
  transition: text-shadow 0.2s;
  text-shadow: txtS($p) !important;
}

.mouse-leave {
  transition: text-shadow 0.2s;
}

.pulse {
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  50% { text-shadow: txtS($p) }
}
