<!--                     Селекторы элемента                   -->
<!--   <app-car></app-car>            selector: 'app-cars'    -->
<!--   <div class="app-car"></div>    selector: '.app-car'    -->
<!--   <div app-car></div>            selector: '[app-car]'   -->

<hr>
<h5>Событие click</h5>
<button
  (click)="addCar()"
  class="btn btn-primary">
  Добавить машину
</button>
<p>{{ addCarStatus }}</p>

<!-- less 7 -->

<hr>
<h5>Событие input</h5>
<p>Аналог onChange из React</p>
<input
  type="text"
  class="form-control"
  (input)="onChangeInput1($event)">
<p>{{ inputText1 }}</p>

<!-- less 8 -->

<hr>
<h5>Событие input <i>вариант 2</i></h5>
<input
  #myInp
  type="text"
  class="form-control"
  (input)="onChangeInput2(myInp.value)">
<p>{{ inputText2 }}</p>

<!-- less 9 -->

<hr>
<h5>Событие keyup и двухсторонняя привязка</h5>
<p>Срабатывает по нажатию на Enter</p>
<input
  type="text"
  class="form-control"
  (keyup.enter)="onKeyUp($event)">
<input
  type="text"
  class="form-control margin20"
  [(ngModel)]="inputText3">
<p>{{ inputText3 }}</p>

<!-- less 10 -->

<hr>
<h5>Директива ngIf else</h5>
<input
  type="text"
  class="form-control"
  [(ngModel)]="carName">

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <button
        (click)="addCar2()"
        class="btn btn-primary margin20">
        Добавить машину
      </button>
    </div>
    <div class="col-xs-4">
      <button
        (click)="cancel()"
        class="btn btn-danger margin20 margin-left">
        Отмена
      </button>
    </div>
  </div>
</div>


<p *ngIf="!addCarStatus2; else sucStatus">
  машина не добавлена
</p>
<ng-template #sucStatus>
  <p>машина добавлена!</p>
</ng-template>

<!-- less 11, 12 -->
<ul>
  <li *ngFor="let i of cars;
              let idx = index">
    <div
    [ngStyle]="{

      color: (idx + 1) % 2 === 0 ? '#6A6DC9' : '#D9D85C',
      borderBottom : 'solid 1px #2C3637',
      width: '52%'

    }"
    [ngClass]="{ 'pulse-text': setPulseText(i) }">
    {{ idx + 1 }} : {{i}}</div>
  </li>
</ul>


<hr>
<h5>Директива ngFor</h5>
<ul>
  <li *ngFor="let i of items;
              let idx = index ">
    <b>{{idx + 1}}</b> : {{i.value}}
  </li>
</ul>

<!-- less 13 -->
<hr>
<h5>Пайпы</h5>
<ul>
  <li *ngFor="let i of dates;
              let idx = index ">
    <b>{{ 'дата' | uppercase }}</b> : {{ i | date:'short' }} 
  </li>
</ul>
