<!--                     Селекторы элемента                   -->
<!--   <app-car></app-car>            selector: 'app-cars'    -->
<!--   <div class="app-car"></div>    selector: '.app-car'    -->
<!--   <div app-car></div>            selector: '[app-car]'   -->

<hr>
<h5>Событие click</h5>
<button
  (click)="addCar()"
  class="btn btn-primary">
  Добавить машину
</button>
<p>{{ addCarStatus }}</p>

<!-- less 7 -->

<hr>
<h5>Событие input</h5>
<p>Аналог onChange из React</p>
<input
  type="text"
  class="form-control"
  (input)="onChangeInput1($event)">
<p>{{ inputText1 }}</p>

<!-- less 8 -->

<hr>
<h5>Событие input <i>вариант 2</i></h5>
<input
  #myInp
  type="text"
  class="form-control"
  (input)="onChangeInput2(myInp.value)">
<p>{{ inputText2 }}</p>

<!-- less 9 -->

<hr>
<h5>Событие keyup и двухсторонняя привязка</h5>
<p>Срабатывает по нажатию на Enter</p>
<input
  type="text"
  class="form-control"
  (keyup.enter)="onKeyUp($event)">
<input
  type="text"
  class="form-control margin20"
  [(ngModel)]="inputText3">
<p>{{ inputText3 }}</p>

<!-- less 10 -->

<hr>
<h5>Директива ngIf else</h5>
<input
  type="text"
  class="form-control"
  [(ngModel)]="carName">

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <button
        (click)="addCar2()"
        class="btn btn-primary margin20">
        Добавить машину
      </button>
    </div>
    <div class="col-xs-4">
      <button
        (click)="cancel()"
        class="btn btn-danger margin20 margin-left">
        Отмена
      </button>
    </div>
  </div>
</div>


<p *ngIf="!addCarStatus2; else sucStatus">
  машина не добавлена
</p>
<ng-template #sucStatus>
  <p>машина добавлена!</p>
</ng-template>

<!-- less 11, 12 -->
<ul>
  <li *ngFor="let i of cars;
              let idx = index">
    <div
    [ngStyle]="{

      color: (idx + 1) % 2 === 0 ? '#6A6DC9' : '#D9D85C',
      borderBottom : 'solid 1px #2C3637',
      width: '52%'

    }"
    [ngClass]="{ 'pulse-text': setPulseText(i) }">
    {{ idx + 1 }} : {{i}}</div>
  </li>
</ul>


<hr>
<h5>Директива ngFor</h5>
<ul>
  <li *ngFor="let i of items;
              let idx = index ">
    <b>{{idx + 1}}</b> : {{i.value}}
  </li>
</ul>

<!-- less 13 -->
<hr>
<h5>Пайпы</h5>
<ul>
  <li *ngFor="let i of dates;
              let idx = index ">
    <b>{{ 'дата' | uppercase }}</b> : {{ i | date:'short' }}
  </li>
</ul>

<!-- less 14, 15 -->
<hr>
<h5>Передача параметров в компоненты и получение данных из комонентов</h5>

<app-add-car
  (onAddCar)="updateCarList($event)"
  (onCancel)="cancel2()">
</app-add-car>

<div class     ="list-group margin20">
  <app-car
    class      = "list-group-item"
    *ngFor     = "let car of cars2"
    [carItem]  = "car"
    [ngClass]  = "{ 'pulse-text': setPulseText2(car) }">
    <div #innerAlert class ="alert alert-dark"></div>
  </app-car>
</div>

<!-- less 20, 21 -->
<!-- period может принимать: hover, pulse -->
<hr>
<div class="center">
  <h5 [appColor] = "'white'"
      [stat]     = "'hover'">
  Создание своей директивы</h5>
</div>

<!-- less 24 -->
<hr>
<h5>Директива ngSwitch</h5>

<ul class="list-group">
  <li *ngFor="let num of numbers"
    (click)="onClick(num)"
    class="list-group-item">
    {{ num }}
  </li>
</ul>

<ul class="list-group margin20" [ngSwitch]="current">
  <li *ngSwitchCase="1" class="list-group-item">1</li>
  <li *ngSwitchCase="2" class="list-group-item">2</li>
  <li *ngSwitchCase="4" class="list-group-item">4</li>
  <li *ngSwitchCase="8" class="list-group-item">8</li>
  <li *ngSwitchDefault  class="list-group-item">default</li>
</ul>

<!-- less 24 -->
<hr>
<h5>Испоьзование пайпов</h5>
<h6>{{ 'Нижний регистр'  | lowercase }}</h6>
<h6>{{ 'Верхний регистр' | uppercase }}</h6>
<h6>{{ 'Обрезать строку' | slice:0:12 }}</h6>
<h6>{{ 'Обрезать и перевести верхний регистр' | slice:0:34 | uppercase }}</h6>
<h6>Вывод чисел: {{ pi | number }}</h6>
<h6>Вывод чисел: {{ pi | number:'2.4' }}</h6>
<h6>Вывод чисел: {{ pi | number:'3.5' }}</h6>
<h6>Валюта: {{ 1000 | currency:'EUR':"symbol" }}</h6>
<h6>Дата: {{ dates[0] | date }}</h6>
<h6>Дата: {{ dates[0] | date:'fullDate' }}</h6>
<h6>Дата: {{ dates[0] | date:'shortDate' }}</h6>
<h6>Время: {{ dates[0] | date:'shortTime' }}</h6>
<h6>Проценты: {{ 0.45 | percent }}</h6>
<h6>Вывод объектов: <pre class="margin20">{{ items | json }}</pre></h6>

<!-- less 25 -->
<hr>
<h5>Создание своего пайпа</h5>
<h6>{{ 25 | appPow:3:'=' }}</h6>

<!-- less 27 -->
<hr>
<h5>Создание динамического фильтра</h5>
<app-search-list></app-search-list>

<!-- less 29 -->
<hr>
<div class="row">
  <div class="col-xs-6 margin-left">
    <h5>Async пайп через 3 сек:</h5>
  </div>
  <div class="col-xs-6 margin-left">
    <h5>{{ asyncTitle | async }}</h5>
  </div>
</div>



<!-- less 29 -->
<hr>
<h5>Создание сервиса</h5>
<app-car-sell></app-car-sell>
