$a : aqua;

hr {
  border-top: solid 1px #214C59;
}

p, h5, li {
  color: $a
}

i {
  color: #066B5E;
  font-size: 10pt;
}

.margin20 {
  margin-top: 20px;
}

input {
  width: 56%;
  transition: 0.5s;
}

input:focus {
  width: 100%;
}

.margin-left {
  margin-left: 20px;
}

.pulse-text {
  animation: pulse_text 1s ease infinite;
}

@keyframes pulse_text {
  0%   { text-shadow: 0 0 0px  $a }
  50%  { text-shadow: 0 0 10px $a }
  100% { text-shadow: 0 0 0px  $a }
}
